.hobby{
    padding: 1em;
}

.hobby__header{
    text-align: center;
}

.hobby__body {
    padding: 0 3em 3em 3em;
}

.hobby__body--image {
    text-align: center;
}

.hobby__body--image img {
    height: 100px;
}

.hobby__body--info {
    text-align: center;
    font-size: 2em;
}

/* for inverse hobbies */
/* .inverse{
    flex-direction: row-reverse;
} */
