<div class="about-content">
  <div class="pure-g">
    <div class="pure-u-lg-1-4 pure-u-1"></div>
    <div class="pure-u-lg-1-2 pure-u-1">
      <div class="header-content">
          <h1 class="title">About</h1>
        </div>
        <div class="main-content">
              <app-hobby *ngFor="let hobby of hobbies"
                          [info]="hobby.info"
                          [image]="hobby.image"
                          [inverse]="hobby.inverse"
                          data-aos="fade-up">
              </app-hobby>
        </div>
        <div class="footer-content">
        
        </div>
      </div>
    <div class="pure-u-1-lg-4 pure-u-1"></div>
  </div>
</div>