
.hearthstone-cards__empty{
    background: red;
}

.hearthstone-cards__card {
    /* background: url('../../../../../../assets/img/hearthstone-background2.jpg'); */
    /* background-size: contain; */
    background:white;
    text-align: center;
}

.hearthstone-cards__card--image {
    height:450px; 
}

img {
    height:100%;
    width: auto;
}
.hearthstone-cards__card--info {
    margin: 3em;
}