.hearthstone-cards__card {
    background:white;
    text-align: center;
}

.hearthstone-cards__card--image {
    height:450px; 
}

img {
    height:100%;
    width: auto;
}
.hearthstone-cards__card--info {
    margin: 3em;
}