<div class="hearthstone-cards">
  <div *ngIf="!cards" class="color__white">
    <p>Enter some inputs above</p>
  </div>
  <div *ngIf="cards">
    <div *ngFor="let card of cards; let i = index;">
      <div *ngIf="i < cardLimit">
        <app-card [card]="card">
        </app-card>
      </div>
    </div>
  </div>
  <button class="button color__white background__grey" *ngIf="cardLimit < cards.length && cards"(click)="increaseLimit()">
    Show more cards ({{ cardLimit }} / {{ cards.length }})
  </button>
</div>