.hearthstone-header {
    height:5em;
    text-align: center;
}

app-input-form {
    padding: 1em;
}

.hearthstone-header__image {
    height:100%;
}

.dropdown-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.dropdown-container__dropdown {
    flex-grow: 1;
}