.hearthstone-header {
    height:5em;
    text-align: center;
}

.shaded {
    background: rgba(0,0,0,0.7);
}

app-input-form {
    padding: 1em;
}

.error {
    color: #d82b2b;
}
.hearthstone-header__image {
    height:100%;
}

.dropdown-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.dropdown-container__dropdown {
    flex-grow: 1;
}

.hearthstone-section {
    height:100%;
    overflow: auto;
    background-image: url('../../../../assets/img/witchwood-background.jpg');
    background-attachment: fixed;
    background-position: top;
}

.hearthstone-container {
    padding:3em;
}

.header-content {
    padding: 3em;
    min-width: 555px;
}

@media only screen and (max-width: 640px) {
    .hearthstone-container {
        padding: 1em;
    }
    .header-content {
        padding: 1em;
    }
}