.app-skills {
    height:100%;
}

.section-header{
    font-size: 3.5em;
    text-align: center;
}

.skills-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.skills-container__skills-list {
    text-align: center;
}

.skills-container__skill-image {
    font-size: 50px;
}

.skills-container__skill{
    display: inline-block;
    padding: 0 2em;
}

hr {
    width: 50%;
    border-color: #FFF;
}
