<div class="app-skills">
  <div class="pure-g">
    <div class="pure-u-1 pure-u-lg-1-4"></div>
    <div class="pure-u-1 pure-u-lg-1-2">
      <h2 class="section-header title">Skills</h2>
      <div class="skills-container">
        <div class="pure-g">
          <div class="pure-u-1 skills-container__skills-list frontend color__white">
            <h2>Front end stuff</h2>
            <div *ngFor="let skill of frontendSkills" class="skills-container__skill">
              <i class="skills-container__skill-image {{skill.image}}"></i>
              <p class="small-font">{{skill.name}}</p>
            </div>
            <hr>
          </div>
          <div class="pure-u-1 skills-container__skills-list backend color__white">
            <h2>Back end stuff</h2>
            <div *ngFor="let skill of backendSkills" class="skills-container__skill">
                <i class="skills-container__skill-image {{skill.image}}"></i>
              <p class="small-font">{{skill.name}}</p>
            </div>
            <hr>
          </div>
          <div class="pure-u-1 skills-container__skills-list project-management color__white">
            <h2>Other stuff</h2>
            <div *ngFor="let skill of projectManagementSkills" class="skills-container__skill">
              <i class="skills-container__skill-image {{skill.image}}"></i>
              <p class="small-font">{{skill.name}}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="pure-u-1 pure-u-lg-1-4"></div>
  </div>
</div>
