
<!-- Header section -->
<div class="pure-u-1 pure-u-lg-1-4"></div>
<div class="pure-u-1 pure-u-lg-1-2">
    <div class="header-content">
        <h2 class="color__white">
            I don't really have an extensive portfolio due to all the Non-Disclosure Agreements that I've signed, 
            but hopefully what I've got on this page is enough to showcase some work.
        </h2>
    </div>
</div>
<div class="pure-u-1 pure-u-lg-1-4"></div>

<!-- Hearthstone section -->
<div class="pure-u-1 pure-u-lg-1-4">
    
</div>
<div class="pure-u-1 pure-u-lg-1-2">
    <div class="hearthstone-container">
        <app-hearthstone [info]="infoText.hearthstone">
        </app-hearthstone>
    </div>
</div>
<div class="pure-u-1 pure-u-lg-1-4"></div>
                                

