
<div class="pure-g">
    <!-- Header section -->
    <div class="pure-u-1 pure-u-lg-1-4"></div>
    <div class="pure-u-1 pure-u-lg-1-2">
        <div class="header-content">
            <h1 class="title">Portfolio</h1>
            <h3 class="color__white">
                I don't really have an extensive portfolio due to Non-Disclosure Agreements that I've signed, 
                but hopefully what I've got on this page is enough to showcase some work. You can find the code to this
                site <a href="https://github.com/MacleanS/me" target="_blank" class="color__orange">here.</a> I will continue
                to add mini-projects when I find the time! Click on the logo(s) below to take a look.
            </h3>
            <div class="projects-container background__black--gradient">
                <a href="/portfolio/hearthstone">
                    <img class="hearthstone-image" src="../../../assets/img/hearthstone.png">
                </a>
            </div>
        </div>
    </div>
    <div class="pure-u-1 pure-u-lg-1-4"></div>
</div>
                                

