<div class="pure-g main-header color__white" >
  <div class="pure-u-1 pure-u-lg-1-4"></div>
  <div class="pure-u-1 pure-u-lg-1-2 blurb color__white">
    <div class="main-header__image-container">
      <img class="main-header__image" src="../../assets/img/me.jpg">
      <p>frontend.dev</p>
    </div>
    <p>Hello! I'm Sam, and I have been working in front-end development for the last 2 years, but programming for the last 7.
        I started off as an analyst where my love for coding grew, but my love for analytics eventually died. Towards the end of my
        analyst career, I started dabbling in some front-end work using native javaScript and found a new calling in life.
        <br>
        <br>
        I thoroughly enjoy the problem solving aspects in the field, and creating the best UX for the application I'm working on. 
        I'm no stranger to data visualisation either - not all that time as an analyst was wasted!
      </p>
  </div>
  <div class="pure-u-1 pure-u-lg-1-4"></div>
</div>
