.main-header {
    font-size: 30px;
    padding-top: 1em;
}

.main-header__image-container {
    text-align: center;
}

.main-header__image {
    border-radius: 8em;
}

.blurb {
    font-size: 20px;
    padding-bottom: 2em;
    margin: 0 3em;
    min-height: 35em;
    display: flex;
    flex-direction: column;
    justify-content: center;
}