<div class="pure-g main-header color__white" >
  <div class="pure-u-1 pure-u-lg-1-4"></div>
  <div class="pure-u-1 pure-u-lg-1-2 color__white">
    <h1 class="title">Me</h1>
    <div class="blurb">
      <div class="main-header__image-container" data-aos="zoom-in" data-aos-duration="500">
        <img class="main-header__image" src="../../assets/img/me.jpg">
        <p>Sofware Engineer</p>
      </div>
      <p data-aos="fade-up"
        data-aos-duration="500">
        Hello! I'm Sam, and I have been working in front-end development for the last two years, but programming for the last seven.
        I started off my career as an analyst, and came to realise that I had a passion programming. Towards the end of my
        analyst career, I started dabbling in some front-end development work using native JavaScript and found a new calling in life.
        I managed to forge a path from analyst to developer, and have continued down this route ever since.
        <br>
        <br>
        I thoroughly enjoy the problem solving aspects in the field, and creating the best UX for the application I'm working on. 
        I'm no stranger to data visualisation either - not all that time as an analyst was wasted!
      </p>
    </div>
  </div>
  <div class="pure-u-1 pure-u-lg-1-4"></div>
</div>
