label {
    color: white;
    font-weight: 800;
}
.label{
    display: flex;
    align-items: center;
}

.error {
    color: #d82b2b;
    position: absolute;
    padding-top: 1.3em;
 }

.card-input {
    padding: 0.1em;
    background: url('../../../../../../assets/img/parchment.PNG');
    margin: 1em;
    color: white;
    font-weight: 800;
    border: #f1e3ca 3px solid;
}

.submit-button {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.loading {
    border: 3px solid #f3f3f3; /* Light grey */
    border-left: 3px solid #233D4D; /* Blue */
    border-right: 3px solid #233D4D; /* Blue */
    border-radius: 50%;
    width: 20px;
    height: 20px;
    position: relative;
    left: 1em;
    animation: load 2s ease-in-out infinite;
}

@keyframes load {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(2880deg); }
}