<div class="pure-g">
  <div class="pure-u-sm-1-2 pure-u-1">
    <form #f="ngForm" (ngSubmit)="submit(f)">
      <div class="pure-g">
        <div class="pure-u-1-2 label">
          <label for="cost">
            Cost*
          </label>
        </div>  
        <div class="pure-u-1-2">
          <input class="card-input" name="cost" type="number" ngModel required [attr.min]="0" [attr.max]="10" [min]="0" [max]="10" placeholder="0-10">
          <span class="clear-input" (click)="clearInput(f, 'cost')">
              <i class="far fa-times-circle"></i>
          </span>
          <span *ngIf="!validFormState" class="error">Please enter a cost (between 0 and 10)</span>
        </div>
        <div class="pure-u-1-2 label">
          <label for="attack">
            Attack
          </label>
        </div>
        <div class="pure-u-1-2">
          <input class="card-input" name="attack" type="number" ngModel [attr.min]="0" [attr.max]="10" [min]="0" [max]="10" placeholder="0-10">
          <span class="clear-input" (click)="clearInput(f, 'attack')">
              <i class="far fa-times-circle"></i>
          </span>
        </div>
        <div class="pure-u-1-2 label">
          <label for="health">
            Health
          </label>
         </div>
        <div class="pure-u-1-2">
          <input class="card-input" name="health" type="number" ngModel [attr.min]="1" [attr.max]="10" [min]="1" [max]="10" placeholder="1-10">
          <span class="clear-input" (click)="clearInput(f, 'health')">
              <i class="far fa-times-circle"></i>
          </span>
        </div>
        <div class="pure-u-1-2 label">
            <label for="class">
              Class
            </label>
           </div>
          <div class="pure-u-1-2">
            <div class="loading-container">
              <span *ngIf="loading.allInfo" class="loading"></span>
              <span *ngIf="loading.allInfo" class="color__white">Loading...</span>
              <select name="class" class="card-input" *ngIf="cardInfo" ngModel>
                <option class="background__grey" *ngFor="let class of cardInfo.classes">{{ class }}</option>
              </select>
              <span class="clear-input" (click)="clearInput(f, 'class')">
                  <i class="far fa-times-circle"></i>
              </span>
            </div>
          </div>
        <div class="pure-u-sm-1-2 pure-u-1">
          <div class="loading-container">
            <button class="button color__white background__grey" ngDisabled="loading.cards">
              Submit 
            </button>
            <span *ngIf="loading.cards" class="loading"></span>
            <span *ngIf="loading.cards" class="color__white">Loading...</span>
          </div>
        </div>
      </div>
    </form>
  </div>
  <div class="pure-u-sm-1-2 pure-u-1">
    <div class="explanation-box">
      <h3 class="explanation-title">
        Angular <i class="devicon-angularjs-plain colored"></i> Explanation <i class="fas fa-chevron-right rotate" [ngClass]="{'rotate-down': showExplanation}" (click)="toggleExplanation()"></i>
      </h3>
      <p class="explanation-body" *ngIf="showExplanation">
        In this small app, the input form, and the output are separate components. Rather than two-way binding
        the input parameters to a model within the output component, I am using one-way binding to avoid any object links by reference. 
        <br>
        <br>
        When the input form information is submitted, a call is made to the appropriate <code>HearthstoneService</code> endpoint 
        (which consumes the RapidAPI Hearthstone API). Once the data is returned, the input form emits an event with the new card information,
        which is passed up to the main controller. The main controller then passes this new collection down to the output component.
        <br>
        <br>
        This new collection is one-way bound, and so will not change until the user has submitted a new request through the input form.
      </p>
    </div> 
  </div>
</div>