label {
    color: white;
    font-weight: 800;
}
.label{
    display: flex;
    align-items: center;
}

form {
    position: relative;
}

.error {
    color: #d82b2b;
    position: absolute;
    top: 33px;
    left: 0;
    padding-top: 1.3em;
 }

 .clear-input {
     cursor: pointer;
 }

.card-input {
    padding: 0.1em;
    background: url('../../../../../../assets/img/parchment.PNG');
    margin: 1em;
    color: white;
    font-weight: 800;
    border: #f1e3ca 3px solid;
}

.loading-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.loading {
    border: 3px solid #f3f3f3; /* Light grey */
    border-left: 3px solid #233D4D; /* Blue */
    border-right: 3px solid #233D4D; /* Blue */
    border-radius: 50%;
    width: 20px;
    height: 20px;
    position: relative;
    left: 1em;
    animation: load 2s ease-in-out infinite;
}

.explanation-box {
    padding: 0 1em;
}

.explanation-title {
    margin-top: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.devicon-angularjs-plain {
    font-size: 3em;
}

.explanation-body {
    animation: slideDown 0.5s ease-out;
    max-height: 11em;
    overflow: auto;
}

.rotate{
    -moz-transition: all 0.5s ease-out;
    -webkit-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
    cursor: pointer;
}

.rotate.rotate-down{
    -moz-transform:rotate(90deg);
    -webkit-transform:rotate(90deg);
    transform:rotate(90deg);
}

@keyframes load {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(2880deg); }
}

@keyframes slideDown{
    from {
        transform: translateY(-30%);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}