<!--The content below is only a placeholder and can be replaced.-->
<nav class="main-nav background__grey--gradient">
  <div class="main-nav__links" [ngClass]="{'menu-expanded': menuVisible}">
    <a href="/home">Home</a>
    <!-- <a href="#skills">Skills</a>
    <a href="#timeline">Work</a> -->
    <a href="/about">About</a>
    <a href="/portfolio">Portfolio</a>
    <a class="main-nav__hamburger" (click)="toggleMenu()" *ngIf="!menuVisible">
        <i class="fas fa-bars"></i>
    </a>
    <a class="main-nav__close" (click)="closeMenu()" *ngIf="menuVisible">
        <i class="fas fa-times"></i>
    </a>
  </div>
</nav>

<router-outlet></router-outlet>

<!-- EMAIL NOT WORKING   -->
<section id="contact" class="contact background__black--gradient" data-aos="zoom-in-right">
  <app-contact></app-contact>
</section>
