.card {
    background: url('../../../../../../assets/img/hearthstone-background.jpg');
    background-size:     cover;
    background-repeat:   no-repeat;
    background-position: center center;
    width: 837px;
    height: 469px;
}

.card__image {
    position: relative;
    bottom: 1em;
    left: 2em;
}

.card__info {
    box-shadow: #1f282b -3px 1px 12px 5px;
    position: relative;
    height: 20em;
    background: url('../../../../../../assets/img/parchment.png');
    margin: 4em 3em 5em 7em;
    padding: 1em 2em 0 1em;
    overflow: auto;
}
.card__error {
    height: 410px;
    width: 289px;
    padding-top: 3em;    
}