<div class="card">
  <div class="pure-g">
    <div class="pure-u-1-2">
      <div class="card__image">
        <img src="{{ card.img }}" onerror="this.className='card__error'; this.src='../../../../../../assets/img/card404.png'">
      </div>
    </div>
    <div class="pure-u-1-2">
      <div class="card__info color__grey">
        <p *ngIf="card.name">Name: <strong>{{ card.name }}</strong></p>
        <p *ngIf="card.race">Race: <strong>{{ card.race }}</strong></p>
        <p *ngIf="set">Set: <strong>{{ card.set }}</strong></p>
        <p *ngIf="card.artist">Artist: <strong>{{ card.artist }}</strong></p>
        <p *ngIf="card.flavor"><em>{{ card.flavor }}</em></p>
      </div>
    </div>
  </div>
</div>