<div class="card">
  <div class="pure-g">
    <div class="pure-u-1-2">
      <div class="card__image">
        <img src="{{ card.img }}">
      </div>
    </div>
    <div class="pure-u-1-2">
      <div class="card__info">
        <p>name: <strong>{{ card.name }}</strong></p>
        <p>attack: <strong>{{ card.attack }}</strong></p>
        <p>health: <strong>{{ card.health }}</strong></p>
        <p>cost: <strong>{{ card.cost }}</strong></p>
        <p><em>{{ card.flavor }}</em></p>
      </div>
    </div>
  </div>
</div>
