/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Pontano+Sans');

html, 
body {
    height: 100%;
}

body {
    font-family: "Pontano Sans";
    margin: 0;
}

.title {
    position: relative;
    text-align: center;
    font-size: 50px;
}

.title:before {
    left: 0;
}

.title:after {
    right: 0;
}

.title:after, .title:before {
    position: absolute;
    top: 50%;
    display: block;
    width: 30%;
    border-bottom: 5px solid rgba(255, 255, 255, 0.5);
    content: "";
}

body.modal-open {
    overflow: hidden;
}

/* Colour palette */
.background__white {
    background: #fff;
}

.background__mint {
    background: #1abc9c;
}

.background__pink {
    background: #EF767A;
}

.background__yellow {
    background: #FFE74C;
}

.background__grey {
    background: #233D4D;
}

.background__grey--gradient {
    background: #0F2027;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #2C5364, #203A43, #0F2027); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.background__mint--gradient {
    background-image: linear-gradient(to left, #1abc9c, #1aa688, #189075, #167b63, #126751);
}

.background__yellow--gradient {
    background-image: linear-gradient(to left, #ffe74c, #fbe559, #f7e464, #f4e26f, #f0e079);
}

.background__orange--gradient {
    background-image: linear-gradient(to right, #eeb868, #e7ab55, #e09f42, #d8922e, #d18515);
}

.background__pink--gradient {
    background-image: linear-gradient(to left, #ef767a, #f0676a, #ef5759, #ee4548, #eb3036);
}

.background__orange {
    background: #EEB868;
}

.background__blue {
    background: #3E78B2;
}
.color__white {
    color: #fff;
}

.color__mint {
    color: #1abc9c;
}

.color__pink {
    color: #EF767A;
}

.color__yellow {
    color: #FFE74C;
}

.color__grey {
    color: #233D4D;
}

.color__orange {
    color: #EEB868;
}

.color__blue {
    color: #3E78B2;
}
.small-font {
    font-size:x-small;
}

.button {
    padding: 0.5em;
    box-shadow: black 3px 1px 8px 1px;
}