/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Pontano+Sans');

body {
    font-family: "Pontano Sans";
    color: #555;
    margin: 0;
    background: #eef7ff;
}

.orange {
    background: #f26425;
}

.small-font {
    font-size:x-small;
}
.main-nav {
    display: flex;
    justify-content: center;
    background: #00abff;
    height: 3em;
}

.main-nav a {
    color:white;
    padding: 0 1em;
}
.main-nav .main-nav__hamburger {
    display: none;
}

@media only screen and (max-width: 640px) {
    .main-nav .main-nav__hamburger {
        display: block;
        position: absolute;
        right: 1em;
    }

    .main-nav .main-nav__links {
        display: none;
    }
}