/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Pontano+Sans');

body {
    font-family: "Pontano Sans";
    color: #ffffff;
    margin: 0;
}

/* Colour palette */
.mint {
    background: #25f3b2;
}

.pink {
    background: #EF767A;
}

.yellow {
    background: #FFE74C;
}

.grey {
    background: #233D4D;
}

.orange {
    background: #EEB868;
}

.blue {
    background: #3E78B2;
}

.small-font {
    font-size:x-small;
}
.main-nav {
    display: flex;
    justify-content: center;
    height: 3em;
}

.main-nav a {
    color:white;
    padding: 0 1em;
}
.main-nav .main-nav__hamburger {
    display: none;
}

@media only screen and (max-width: 640px) {
    .main-nav .main-nav__hamburger {
        display: block;
        position: absolute;
        right: 1em;
    }

    .main-nav .main-nav__links {
        display: none;
    }
}