.main-header {
    font-size: 30px;
    padding-top: 1em;
}

.main-header__image-container {
    text-align: center;
}

.main-header__image {
    border-radius: 5em;
}

.blurb {
    font-size: 20px;
    display: flex;
    align-items: center;
}

.skills-container__skills-list {
    text-align: center;
}

.skills-container__skill-image {
    font-size: 50px;
}

.skills-container__skill{
    display: inline-block;
    padding: 0 2em;
}

hr {
    width: 50%;
    border-color: #EEB868;
}

/* Animation for face and blurb */
/* .swell-image {

} */

.fade-in-image {
    animation: FadeInImage 1s ease-out;
}

.swell-image {
    animation: SwellImage 1s ease;
}

.fade-in-text {
    animation: FadeInText 1s ease-out;
}
/* .swing-left {
    animation: SwingLeft 2s ease;
} */

/* @keyframes SwellImage {
    0%   { opacity: 0; }
    100% { opacity: 1; }
} */

@keyframes FadeInImage {
    0% {opacity: 0; width:100%;}
    75% {width:100%;}
    100% {opacity:1;};
}

@keyframes SwellImage {
    0% {height:0}
    50% {height: 240px}
    80% {height: 200px}
}

@keyframes FadeInText {
    from {opacity: 0;}
    to {opacity:1;}
}
/* @keyframes SwingLeft {
    from {text-align: center;}
    to {text-align:right;}
} */